{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
Login
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<h4>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</h4>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


    <form class="form-signin" id="form01" method="post" action="http://127.0.0.1:8000/api/rest-auth/login/">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign in here!</h2>
        <input name="username" class="form-control" placeholder="Username" type="text">
        <input name="password" class="form-control" placeholder="Password" type="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="b01">Sign in</button>
    </form>
    <p>forget your password? click <a href="/accounts/password/reset">here</a></p>


        <script type="text/javascript">
        $("#b01").click(function(){
            $.ajax({
                url:"http://127.0.0.1:8000/api/rest-auth/login/",
                type:"POST",
                dataType:"text",
                data:$('#form01').serialize(),
                success: function(return_token){
                    window.location.href='http://127.0.0.1:8000/blogs/';
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus.responseText);
                    alert(XMLHttpRequest.status);
                },

            });
            return res;
        });
    </script>

{%endblock%}
