<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript">
        $("#b01").click(function(){
            $.ajax({
                url:"http://127.0.0.1:8000/blogs/",
                type:"POST",
                data:{
                    title:($('input[name="title"]').val()),
                    author:($('input[name="author"]').val()),
                    content:($('input[name="content"]').val()),
                    category:($('input[name="category"]').val()),
                    tag:($('input[name="tag"]').val())
                },
                datatype:"json"
            });
        });
        </script>
    <meta charset="UTF-8">
    <title>Blogs_simple</title>
</head>
<body>
    <a>Title <input name="title"></a>
    <br>
    <a>Author <input name="author"></a>
    <br>
    <a>Content <input name="content"></a>
    <br>
    <a>Category <input name="category"></a>
    <br>
    <a>Tag <input name="tag"></a>
    <br>
    <button id="b01">Submit</button>
</body>
</html>